@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@utility btn{
    @apply rounded-xl transition-all duration-300 ease-in-out font-semibold inline-flex justify-center items-center;
}

@utility btn-primary{
    @apply bg-emerald-500 hover:bg-emerald-400 text-slate-900 px-4 py-2 ;
}

@utility btn-secondary{
    @apply bg-slate-700 hover:bg-slate-600 text-slate-100 px-4 py-2
}

@utility outline-btn{
    @apply border border-slate-600 hover:border-emerald-500 text-slate-300 hover:text-slate-100 px-4 py-2
}

@utility input{
    @apply w-full bg-slate-900 border border-slate-700 rounded-xl py-1 px-4 text-slate-100 focus:outline-none focus:ring-emerald-500
}

@utility btn-disabled{
    @apply cursor-not-allowed bg-gray-300 opacity-70 text-black/70
}

@utility btn-danger{
    @apply bg-red-400 hover:bg-red-600
}

@utility section {
    @apply bg-slate-950 flex flex-col gap-6
}

@utility container-wrapper{
    @apply w-full px-6 py-6 bg-slate-900 mb-6 flex flex-col gap-6 mx-auto
}

@utility card{
    @apply bg-slate-800 flex flex-col border-slate-700 rounded-2xl p-2 md:p-6 shadow-sm hover:shadow-md transition duration-300 shadow-emerald-900/50 hover:scale-[1.02] w-full
}

@utility main-border {
    @apply border-2 border-slate-700
}

@utility accent {
    @apply bg-emerald-500 hover:bg-emerald-400
}

@utility title {
    @apply text-3xl md:text-5xl font-bold tracking-tight text-slate-200
}

@utility section-heading{
    @apply text-lg md:text-xl font-semibold text-slate-100
}

@utility card-title{
    @apply text-base md:text-lg font-semibold text-slate-200
}

@utility error-msg{
    @apply text-rose-500 text-lg
}
@utility body-text{
    @apply text-base text-slate-300
}

@utility muted-text {
    @apply text-sm text-slate-400
}

@utility grid-system{
    @apply grid grid-cols-1 md:grid-cols-[70%_30%] gap-6 
}

@utility sidebar {
    @apply w-50 bg-slate-900 border-slate-800 min-h-screen py-6 flex flex-col gap-6
}

@utility sidebar-link {
    @apply text-slate-400 hover:text-slate-100 hover:bg-slate-700 flex gap-2 transition duration-300 ease-in-out pl-2
}
@utility active-sidebar-link {
    @apply bg-emerald-400 text-slate-700 flex gap-2 pl-2
}

@utility link{
    @apply text-slate-400 hover:text-slate-200 transition duration-300 ease-in-out
}

@utility active-link {
    @apply text-emerald-400 underline underline-offset-4
}

@utility modals {
    @apply backdrop-blur-md bg-slate-800/70
}

@utility header {
    @apply bg-slate-900 sticky top-0 text-slate-100 border-b border-slate-700 z-50 px-1 text-2xl md:text-3xl
}

@utility hero {
    @apply grid grid-cols-1 md:grid-cols-[60%_40%] place-items-center justify-items-center gap-6
}

@utility flex-system {
    @apply flex flex-col md:flex-row gap-6 justify-center items-center
}

@utility icons-card{
    @apply bg-slate-800 border-slate-700 rounded-2xl p-6 hover:bg-slate-700 transition duration-300 hover:-translate-y-0.5 text-slate-200 w-full flex-system
}

@utility input-wrapper{
    @apply flex flex-col md:flex-row gap-3 justify-center items-start md:items-center
}